@import "tailwindcss";
@import "@mantine/core/styles.layer.css" layer(components);

@theme {
  --color-primary-50: oklch(0.97 0.03 164);
  --color-primary-100: oklch(0.93 0.05 164);
  --color-primary-200: oklch(0.88 0.07 164);
  --color-primary-300: oklch(0.8 0.1 164);
  --color-primary-400: oklch(0.73 0.13 164);
  --color-primary-500: oklch(0.67 0.15 164);
  --color-primary-600: oklch(0.58 0.14 164);
  --color-primary-700: oklch(0.48 0.13 164);
  --color-primary-800: oklch(0.38 0.11 164);
  --color-primary-900: oklch(0.28 0.09 164);
  --color-primary-950: oklch(0.2 0.07 164);

  --color-secondary-50: oklch(0.98 0.03 85);
  --color-secondary-100: oklch(0.95 0.06 85);
  --color-secondary-200: oklch(0.9 0.1 85);
  --color-secondary-300: oklch(0.84 0.14 85);
  --color-secondary-400: oklch(0.78 0.16 85);

  --color-secondary-500: oklch(0.72 0.17 85);

  --color-secondary-600: oklch(0.62 0.15 85);
  --color-secondary-700: oklch(0.52 0.13 85);
  --color-secondary-800: oklch(0.42 0.11 85);
  --color-secondary-900: oklch(0.32 0.09 85);
  --color-secondary-950: oklch(0.24 0.07 85);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body,
main {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

input,
textarea,
select,
button,
option {
  font-family: inherit;
}
